body {
    background: #171717;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E1E1E;
    border-radius: 18px;
    /*border: 18px solid #5A6B5D;*/
}

#soloMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #1E1E1E;
    border-radius: 18px;
    /*border: 18px solid #5A6B5D;*/
    float: left;
    width: 40%;
    height: auto;
}

.form h1 {
    margin: 30px 80px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
}

.input-form {
    margin: 20px 45px;
    text-align: center;
}

.input-form input {
    padding: 10px;
    width: 100%;
    color: #CFCFCF;
    font-size: 24px;
    background: #262626;
    outline: none;
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    box-shadow: none;
    font-weight: bold;
}

.input-form input[type="text"]:focus {
    background: #262626;
}

.input-form input[type="password"]:focus {
    background: #262626;
}

.input-form input[type="button"] {
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    border-radius: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #FF4C2B;
    transition: 0.3s;
    font-family: "Open Sans", serif;
}

.input-form input[type="button"]:hover {
    background: #D94125;
}

#submitBasicRegBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #595B82;
    transition: 0.3s;
    font-family: "Open Sans", serif;
    max-width: 80%;
}

.input-form-keys {
    margin: 15px 40px;
}

.input-form-keys textarea {
    padding: 12px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border: none;
    border-radius: 18px;
    outline: none;
    font-size: 19px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Cascadia Code', sans-serif;
}

.input-form-keys textarea:focus {
    background: #202020;
}

.register-input-form-keys {
    margin: 15px 30px;
    text-align: center;
    width: 380px;
}

.register-input-form-keys input[type="text"] {
    padding: 12px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border-radius: 9px;
    outline: none;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Cascadia Code', sans-serif;
    margin: 10px;
}

.register-input-form-keys input[type="text"]:focus {
    background: #202020;
}

.register-input-form-keys p {
    padding: 12px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border: none;
    border-radius: 9px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Cascadia Code', sans-serif;
}

#txtAreaPrivate {
    padding: 12px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border: none;
    border-radius: 18px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Cascadia Code', sans-serif;
    margin: 10px;
}

#txtAreaPrivate:focus {
    background: #202020;
}

.register-input-form-keys input[type="button"] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #FF4C2B;
    font-size: 24px;
    transition: 0.3s;
    font-family: "Open Sans", serif;
    min-height: 40px;
    min-width: 180px;
    align-content: center;
    box-sizing: border-box;
}

.register-input-form-keys input[type="button"]:hover {
    background: #D94125;
}

.div-register-input-form-keys input[type="button"] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #FF4C2B;
    font-size: 24px;
    transition: 0.3s;
    font-family: "Open Sans", serif;
    min-height: 40px;
    min-width: 180px;
    align-content: center;
    box-sizing: border-box;
}

.div-register-input-form-keys input[type="button"]:hover {
    background: #D94125;
}

.input-navigate {
    display: flex;
    flex-direction: column;
}

.input-navigate input[type="button"] {
    color: #ffffff;
    font-weight: bold;
    border-radius: 9px;
    text-transform: uppercase;
    min-width: 160px;
    height: 40px;
    background: #FF4C2B;
    font-family: "Open Sans", serif;
    font-size: 21px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
}

.input-navigate input[type="button"]:hover {
    background: #D94125;
}

.formBoxes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.formBoxes h1 {
    margin: 30px 80px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
}
#soloWinnerTag {
    margin: 10% 80px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
    text-decoration: underline;
    text-decoration-color: #FF4C2B;
}

#boxes {
    display: inline;
}

#leftBox {
    padding: 10px;
    float: left;
    margin-left: 1%;
    width: 30%;
    height: auto;
    border-radius: 18px;
    background: #1E1E1E;

}

#middleBox {
    padding: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
    width: 30%;
    height: auto;
    border-radius: 18px;
    background: #1E1E1E;
}

#rightBox {
    padding: 10px;
    float: right;
    width: 30%;
    margin-right: 1%;
    height: auto;
    border-radius: 18px;
    background: #1E1E1E;
}


.creators-form {
    text-align: center;
    margin: 1%;
}

.creators-form input[type="text"] {
    padding: 10px;
    width: 100%;
    color: #CFCFCF;
    font-size: 24px;
    background: #262626;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans", serif;
    border-radius: 18px;
    box-shadow: none;
    font-weight: bold;
    margin: 10px;
}
#PublicKeyFieldProfile {
    padding: 12px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border: none;
    border-radius: 9px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Cascadia Code', sans-serif;
    word-wrap: break-word;
}
#PrivateKeyFieldProfile {
    padding: 12px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border: none;
    border-radius: 9px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Cascadia Code', sans-serif;
    word-wrap: break-word;
}

.creators-form input[type="text"]:focus {
    background: #262626;
}

.creators-form input[type="number"] {
    padding: 10px;
    width: 100%;
    color: #CFCFCF;
    font-size: 24px;
    background: #262626;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans", serif;
    border-radius: 18px;
    box-shadow: none;
    font-weight: bold;
    margin: 10px;
}

.creators-form input[type="number"]:focus {
    background: #262626;
}

.creators-form input[type="datetime-local"] {
    padding: 10px;
    width: 100%;
    color: #CFCFCF;
    background: #262626;
    border: none;
    font-size: 24px;
    background: none;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans", serif;
    border-radius: 18px;
    box-shadow: none;
    font-weight: bold;
    margin: 10px;
}

.creators-form input[type="button"] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #595B82;
    font-size: 24px;
    transition: 0.3s;
    font-family: "Open Sans", serif;
    min-height: 40px;
    min-width: 180px;
    align-content: center;
    box-sizing: border-box;
}

.creators-form input[type="button"]:hover {
    background: #D94125;
}

#finishCreateVoteBtn:hover {
    margin-top: 0;
    min-width: 400px;
    background: #FF4C2B;
}
#finishCreateVoteBtn {
    background: #D94125;
}

/*.objectsList {*/
/*    border-radius: 9px;*/
/*    width: 100%;*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*    font-family: "Open Sans", serif;*/
/*    !* Убираем браузерную стрелку *!*/
/*    -moz-appearance: none;*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    background-color: #1E1E1E;*/
/*    padding: 10px 35px 10px 15px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*}*/
.objectsList {
    border-radius: 9px;
    width: 80%;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
    font-size: 14px;
    /* Убираем браузерную стрелку */
    /*appearance: none;*/
    background-color: #1E1E1E;
    outline: none;
    cursor: pointer;
    color: #CFCFCF;
    list-style-type: none;
}

.container {
    padding: 5%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    background: #1E1E1E;
}

.objectsList:focus {
    outline: none;
    background: #262626;
}

.objectsListVoters {
    border-radius: 9px;
    font-size: 10px;
    width: 80%;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
    appearance: none;
    background-color: #1E1E1E;
    outline: none;
    cursor: pointer;
    color: #CFCFCF;
    list-style-type: none;
    padding-left: 0;
    align-content: center;
}


.objectsListVoters:focus {
    outline: none;
    background: #262626;
}

.necessary-inline {
    display: inline;
    text-align: center;
}

li {
    list-style-type: none;
    color: #CFCFCF;
    font-size: 18px;
    font-family: "Open Sans", serif;
}

.wrapper {
    overflow:auto;
    height:200px;
}